<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body class = "full-width">
        <main role="main" class="content" style = "text-align:center">

            <img class="circular--square" src="assets/img/llama_self.jpg"  width="20%"/>

            <h1>
            <span class="site-title">dominic mussack</span>
            </h1>

            {{ content }}

            <br>
            <br>


            <!-- Create simple menu for frontpage -->
            {% for node in site.pages %}
              {% unless node.nav_exclude %}
                <a href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a>
                <!-- include "|" but only between menu.
                -->
                {% if node.title != "research" %}
                  |
                {% endif %}
              {% endunless %}
            {% endfor %}

        </main>


        {% include print-footer.html %}
        {% include front-footer.html %}
    </body>

</html>
